#dispendio .linha1{
	
	height: 5%;
	float:left;
	text-align:center;
}

#dispendio #titulo{
	width: 85%;
	font-size:13pt;
}
#dispendio #titulo #tit{
	margin-top:3%;
}

#dispendio .linha2{
	float:left;
	height:3%;
}

#dispendio #fornecedor {
	width: 74.8%;
	text-align:left;
}

#dispendio #cnpj {
	border-left: 0.8pt solid #000;
	width: 25%;
	text-align:left;
}

#dispendio .linha3 {
	border-bottom: 0.8pt solid #000;
	border-top: 0.8pt solid #000;
	float:left;
	height:3%;
}

#dispendio #descricao {	
	text-align:left;	
}

#dispendio .linha4 {
	border-bottom: 0.8pt solid #000;
	float:left;
	height:3%;
}

#dispendio #documentoFiscal {
	width:20%;
	text-align:center;
}

#dispendio #dataEmissao {
	border-left: 0.8pt solid #000;
	width:20%;
	text-align:center;
}

#dispendio #valor {
	border-left: 0.8pt solid #000;
	width:20%;
	text-align:center;
}

#dispendio #noChequeRecibo {
	border-left: 0.8pt solid #000;
	width:20%;
	text-align:center;
}

#dispendio #dataPagamento {
	border-left: 0.8pt solid #000;
	width:19.2%;
	text-align:center;
}

#dispendio #textoCentral{
	color:gray;
	font-size: 14pt;
	float:left;
	text-align: center;
	margin-top:35%;
	
}

#dispendio .maior{
	font-size:11pt;
}
#dispendio .menor{
	font-size:5pt;
	text-align:left;
}
