#dispendioPassagem #dataAq{
	width:18%;
	float:left;
        border-bottom:0.8pt solid #000;
}
#dispendioPassagem #trecho{
	width:30%;
	border-left:0.8pt solid #000;
        border-bottom:0.8pt solid #000;
	float:left;
}
#dispendioPassagem #saidaChegada{
	width:30%;
	border-left:0.8pt solid #000;
         border-bottom:0.8pt solid #000;
	float:left;
}
#dispendioPassagem #vTotal{
	border-left:0.8pt solid #000;
        border-bottom:0.8pt solid #000;
	float:left;
}

#dispendioPassagem .centro{
	text-align:center;
}
