#capa #titulo {
	font-size:16pt;
	text-align:center;
	float:left;
	margin-top:8%; 
}


#capa #subtitulos {
	float:left;
	margin-top:8%;

}

#capa #subtitulos .espacamento {
	text-align:center;
	margin-top:2%;
}

#capa #subtitulos #chamada {
	top:4%;
	font-weight:900;
}

#capa #subtitulos #numContrato {
	top:36%;
	font-weight:900;
}

#capa #subtitulos #empenho {
	top:70%;
	font-weight:900;
}

#capa #projeto {
	text-align:center;
	float:left;
	margin-top:12.5%;
}

#capa #coordenador {
	text-align:center;
	float:left;
	margin-top:12.5%;
}

#capa #data {
	text-align:center;
	float:left;
	margin-top:15%;
}

#capa .tamFont{
	font-size: 13pt;
} 
#capa .titulo{
	font-size: 17pt;
} 

