@charset "utf-8";
/* CSS Document */
#rodape {
	position: relative;
}
#rodape .retangulo{
	height:1.36%;
	font-size: 10pt;
	border:0.8pt solid #000;
}
#rodape #data{
	width:30%;
	padding-left: 2pt;
	float:left;
	text-align:left;
}
#rodape #aviso{
	padding-right: 2pt;
	float:right;
	text-align:right;
}
