#relatorio1 .linhas{
	border-bottom: 0.8pt solid #000;
	text-align:left;
}

#relatorio1 .linhaDivBaixo{
	height:0.5%;
	border-bottom: 0.8pt solid #000;
}
#relatorio1 .linhaDivCima{
	height:0.5%;
	border-bottom: 0.8pt solid #000;
}
#relatorio1 #projeto{
	float:left;
	width:70%;
}
#relatorio1 #coordenador{
	float:left;
	border-left: 0.8pt solid #000;
}

#relatorio1 #area{
	float:left;
	width:55%;
}
#relatorio1 #localizacao{
	float:left;
	border-left: 0.8pt solid #000;
}

#relatorio1 #instituicao{
	float:left;
}

#relatorio1 #total{
	float:left;
	width:30%;
}
#relatorio1 #inicio{
	float:left;
	width:15%;
	border-left: 0.8pt solid #000;
}
#relatorio1 #dataRelatorio{
	float:left;
	width:13%;
	border-left: 0.8pt solid #000;
}
#relatorio1 #dataNL{
	width:19%;
	float:left;
	border-left: 0.8pt solid #000;
}
#relatorio1 #valorNL{
	width:18%;
	float:left;
	border-left: 0.8pt solid #000;
}
#relatorio1 #resumo{
	position:relative;
	height:1%;
	border-bottom:0.8pt solid #000;
}
#relatorio1 #texto{
	position:relative;
	text-align:justify;
}
