#relatorio2 #resultado{
	height:1%;
	border-bottom:0.8pt solid #000;
}
#relatorio2 #tabela{
	padding-top:8%;
	width: 95%;
	text-align: left;
}
#relatorio2 #legenda{
	font-size:8pt;
	padding-top:10%;
}
#relatorio2 .esquerda {
	text-align:left;
}

#relatorio2 .centro {
	text-align:center;
}
