#relatorio3 .retangulo{
	width:111%;
	border-bottom:0.8pt solid #000;
}
#relatorio3 #texto{
	text-align:justify;	
}
#relatorio3 #localData{
	float: left;
	left:-10%;
	margin-top: 10%;
	width: 60%;
	font-size:14pt;
}
