{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Empenho de Recursos - Bolsa" %}

{% block content %}
<div id="content">
    <div id="sidebar">
        <a id="bolsista-button" href="{{ path('bolsistas') }}" title="Gerenciar bolsistas">Gerenciar Bolsistas</a><br /><br />
        <p><b>Instruções:</b><br /><br />Antes de cadastrar novos empenhos de bolsas, realize o cadastro (ou atualização) dos bolsistas envolvidos do projeto por meio do botão "Gerenciar Bolsistas".<br /><br />Posicione o ponteiro do mouse por alguns instantes sobre cada campo para obter instruções complementares acerca do preenchimento do formulário.<br /><br />Cada bolsa (pagamento/mês) deve ser registrado em separado.<br /><br />Observe que, no ato do pagamento da bolsa, o beneficiário deve assinar recibo impresso conforme <a href="http://www.fapesc.sc.gov.br/index.php?option=com_docman&task=doc_download&gid=241&Itemid=42">modelo</a> disponível no site da FAPESC.<br /><br />É obrigatório o preenchimento de todos os campos do formulário.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        {% include "FapescTutorialBundle:Relatorio:formBolsa.html.twig" with { "action" : action } %}
    </div><!-- #main-content -->			
</div><!-- #content -->
{% endblock %}