{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Empenho de Recursos - Diária" %}

{% block content %}
<div id="content">
    <div id="sidebar">
        <p><b>Instruções:</b><br /><br />Posicione o ponteiro do mouse por alguns instantes sobre cada campo para obter instruções complementares acerca de seu preenchimento.<br /><br />É obrigatório o preenchimento de todos os campos do formulário.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        {% include "FapescTutorialBundle:Relatorio:formDiaria.html.twig" with { "action" : action } %}		
    </div><!-- #main-content -->			
</div><!-- #content -->
{% endblock %}