<div id="corpo">
	<div id="dispendio">
		<h1 class ="head" > LISTAGEM DE DISPÊNDIOS </h1>
		<div id="fornecedor" class="linha2">
				<div class="espacamentoEsq menor">
					Fornecedor:
				</div>	
				<div class="espacamentoEsq maior">
					{{ fornecedor }}
				</div>
			</div>
		
		<div id="cnpj" class="linha2">
				<div class="espacamentoEsq menor">
					CNPJ:
				</div>	
				<div class="espacamentoEsq maior">
					{{ cnpj }}
				</div>
			</div>

		<div id="descricao" class="linha3">
				<div class="espacamentoEsq menor">
					Distribuição do Dispêndio:
				</div>	
				<div class="espacamentoEsq maior">
					{{ descricao }}
				</div>
		</div>

		<div id="documentoFiscal" class="linha4">
				<div class="espacamentoEsq menor">
					Documento Fiscal:
				</div>	
				<div class="espacamentoEsq maior">
					{{ documentoFiscal }}
				</div>
		</div>
		<div id="dataEmissao" class="linha4">
				<div class="espacamentoEsq menor">
					Data da Emissão:
				</div>	
				<div class="espacamentoEsq maior">
					{{ dataEmissao }}
				</div>
		</div>
		<div id="valor" class="linha4">
				<div class="espacamentoEsq menor">
					Valor:
				</div>	
				<div class="espacamentoEsq maior">
					R$ {{ valor }}
				</div>
		</div>
		<div id="noChequeRecibo" class="linha4">
				<div class="espacamentoEsq menor">
					No Cheque/Recibo Eletrônico:
				</div>	
				<div class="espacamentoEsq maior">
					{{ noChequeRecibo }}
				</div>
		</div>
		<div id="dataPagamento" class="linha4">
				<div class="espacamentoEsq menor">
					Data do Pagamento:
				</div>	
				<div class="espacamentoEsq maior">
					{{ dataPagamento }}
				</div>
		</div>
		<!--"Cabeçalho" do corpo -->

		<!--texto central -->	
		<div id="textoCentral">
				<p>
					Caro Coordenador, <br> 
					cole aqui o recibo ou documento fiscal (ou recibo) No. {{ noChequeRecibo }}<br> 
					emitido em {{ dataEmissao }} no valor de R$ {{ valor }}, por <br>
					{{ fornecedor }}
				</p>
		
		</div>
		<!--texto central -->


	</div><!--dispendio -->			
</div> <!--corpo-->
