<div id="corpo">
	<div id="dispendio">
	
		<h1 class ="head" > REGISTRO DE DISPÊNDIOS (COMPROVANTE DE PAGAMENTO) </h1>
		<div class="linha2">
				<div id="dataLib">
					<div class="espacamentoEsq menor">	Data de aquisição:	</div>	
					<div class="maior centro">	           {{ data }}	        </div>
				</div>
				<div id="vDiaria">
					<div class="espacamentoEsq menor">	   Trecho		</div>	
					<div class="maior centro">	        {{ trecho }}    	</div>
				</div>
				<div id="qtd">
					<div class="espacamentoEsq menor">	Saída - Chegada:	</div>	
					<div class="maior centro">	        {{ saidaChegada }}	</div>
				</div>
				<div id="vTotal">
					<div class="espacamentoEsq menor">	Valor Total:		</div>	
					<div class="maior centro">	        {{ vTotal }}    	</div>
				</div>
			</div>
		<!--texto central -->	
		<div id="textoCentral">
			<p>
				{{ mensagem }}
			</p>
		
		</div>
		<!--texto central -->


	</div><!--dispendio-->			
</div> <!--corpo-->
