<div id="corpo">
	<div id="capa">	
    		<span>
            </span>
			<div id="titulo">
				<strong>RELATÓRIO {{ tipo }} DE PRESTAÇÃO DE CONTAS</strong>
			</div>

			<div id="subtitulos" class="tamFont">
				<div id="chamada" class="espacamento">				
					<strong>CHAMADA: {{ chamada }}</strong>
				</div>

				<div id="numContrato" class="espacamento">
					<strong>NÚMERO DO CONTRATO: {{ contrato }}</strong>
				</div>

				<div id="empenho" class="espacamento">
					<strong>EMPENHO: {{ empenho }}</strong>
				</div>
			</div>

			<div id="projeto" class="tamFont">
				<strong>PROJETO:</strong> {{ projeto }}
			</div>

			<div id="coordenador" class="tamFont">
				<strong>COORDENADOR: </strong> {{ coordenador }} <br>
				{{ instituicao }}
			</div>

			<div id="data" class="tamFont">
				{{ data }}
			</div>
	</div> <!--capa-->			

</div> <!--corpo -->
