<div id="cabecalho">

	<!--Linha1-->
	<div class="linha1">
		<div id="logo">
			<img src="../src/Fapesc/TutorialBundle/Resources/views/Impressao/Logo/logo-fapesc-pb.png" height="50%">
		</div>
		
		<div id="nomeFundacao" class="espacamentoEsq">
			Fundação de Amparo à Pesquisa e Inovação do Estado de Santa Catarina<br>
			Secretaria de Estado do Desenvolvimento Econômico Sustentável<br>
			Governo do Estado de Santa Catarina
		</div>
	</div>
	<!--Linha2-->
	<div class="linha2">
		<div id="projeto">
			<div class="espacamentoEsq menor">Projeto:</div>
			<div class="espacamentoEsq maior">{{ projeto }}</div>
		</div>
	
		<div id="coordenador">
			<div class="espacamentoEsq menor">Coordenador:</div>				
			<div class="espacamentoEsq maior">{{ coordenador }}</div>
		</div>
	</div>
	<!--Linha3-->
	<div class="linha3">
		<div id="contrato">
			<div class="espacamentoEsq menor">Termo de Outorga</div>
			<div class="maior">{{ contrato }}</div>
		</div>

		<div id="empenho">
			<div class="espacamentoEsq menor">Nota de Liberação</div>
			<div class="maior">{{ empenho }}</div>
		</div>

		<div id="chamada">
			<div class="espacamentoEsq menor">Chamada:</div>
			<div class="maior">{{ chamada }}</div>
		</div>
	</div>
</div>
<div id="corpoHeader">

</div>
