<div id="corpo">
	<div id = "relatorio1">
	<!-- LINHA1-->
		<h1 class ="head" > RELATÓRIO TÉCNICO {{ tipo }} </h1>
	<!-- Linha1-->
	<!-- LINHA2-->
		<div class = "linhas">
			<div id = "projeto">
				<div class="menor espacamentoEsq">Projeto</div>
			</div>
			
			<div id = "coordenador">
				<div class="menor espacamentoEsq">Coordenador</div>
			</div>
                        <div id = "projeto">
				<div class="fontePadrao espacamentoEsq">{{ projeto }}</div>
			</div>
			
			<div id = "coordenador">
				<div class="fontePadrao espacamentoEsq">{{ coordenador }}</div>
			</div>
		</div>
	<!-- Linha2-->
	<!-- LINHA3-->
		<div class = "linhas">
			<div id = "area">
				<div class="menor espacamentoEsq">Área do Conhecimento</div>
			</div>
			<div id = "localizacao">
				<div class="menor espacamentoEsq">Localização(Cidade/Região/SDR)</div>
			</div>
                        <div id = "area">
				<div class="fontePadrao espacamentoEsq">{{ area }}</div>
			</div>
			<div id = "localizacao">
				<div class="fontePadrao espacamentoEsq">{{ local }}</div>
			</div>
		</div>
	<!-- Linha3-->
	<!-- LINHA4-->	
		<div class = "linhas">
			<div id = "instituicao">
				<div class="menor espacamentoEsq">Instituição Proponente</div>
			</div>
                        <div id = "instituicao">
				<div class="fontePadrao espacamentoEsq">{{ instituicao }}</div>
			</div>
		</div>
	<!-- Linha4-->

	<div class="linhaDivCima"><p/>	</div>
	
	<!-- LINHA5-->
		<div class = "linhas">
			<div id = "total">
				<div class="menor espacamentoEsq">Valor Total do Projeto(incluindo intervinientes):</div>
			</div>
			<div id = "inicio">
				<div class="menor espacamentoEsq">Início do projeto</div>
			</div>
			<div id = "dataRelatorio">
				<div class="menor espacamentoEsq">Data do Relatório:</div>
			</div>
			<div id = "dataNL">
				<div class="menor espacamentoEsq">Data da Nota de Liberação:</div>
			</div>
			<div id = "valorNL">
				<div class="menor espacamentoEsq">Valor da Nota de Liberação:</div>
			</div>
                        <div id = "total">
				<div class="fontePadrao espacamentoEsq">{{ valorTotal }}</div>
			</div>
			<div id = "inicio">
				<div class="fontePadrao espacamentoEsq"> {{ inicio }} </div>
			</div>
			<div id = "dataRelatorio">
				<div class="fontePadrao espacamentoEsq"> {{ dataRelatorio }}</div>
			</div>
			<div id = "dataNL">
				<div class="fontePadrao espacamentoEsq"> {{ dataNL }}</div>
			</div>
			<div id = "valorNL">
				<div class="fontePadrao espacamentoEsq"> {{ valorNL }}</div>
			</div>
		</div>
	<!-- Linha5-->

	<div class="linhaDivBaixo"><p/>	</div>

	<div id = "resumo" class="menor espacamentoEsq"> Resumo da Pesquisa </div>
	<div id="texto" class = "margemLateral fontePadrao"> {{ resumo }} </div>
	</div>
</div>	



