<div id="corpo">
	<div id="memorandoRetificacao">	
		<h2>
			MEMORANDO – SOLICITAÇÃO DE ALTERAÇÃO DE PLANO DE APLICAÇÃO DOS RECURSOS
		</h2>
		<div id="data" class="tamFont margemLateral">
			{{ data }}
		</div>

		<div id="texto" class="tamFont margemLateral">
			<p>
				Ref.: Solicitação para alteração do plano de aplicação de recursos do {{ projeto }}<br>
				<br>
				<br>
				<span class="textoNegrito">A/C Sr. {{ coordenador }} da Chamada {{ chamada }} </span><br>
				Fundação de Amparo à Pesquisa e Inovação <br>
				do Estado de Santa Catarina<br>
				<br>
				Prezado Sr. Coordenador,<br>
				<br>
				Em virtude das motivações abaixo explicitadas, respeitando decreto 3.071, de 20 de abril de 2005, venho
				solicitar anuência desta Coordenação para a alteração do plano de aplicação dos recursos fomentados ao
				{{ projeto }}, nos seguintes termos:
			</p>
		</div>
		
		<!-- Tabela -->
		<table class="tabelaRetificacao tamFont">
			<tr>
					<td>#</td>
					<td>Itens de dispêndio</td>
					<td>Previsto</td>
					<td>Retificado</td>
					<td>Justificativas</td>
			</tr>
		
			{{ tabelaRetificacao }}
		
		</table>
		<!-- Tabela -->
		
		<div id="saudacoes" class="tamFont">
			Certo de Vsa. compreensão, receba minhas cordiais saudações.
		</div>
		
		<table class="tabelaAss">
			<tr>
				<td>
						<p>	
							<br>
							<br>
							Carimbo e Assinatura FAPESC
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							Deferido ( ) | Indeferido ( )
						</p>
				</td>	
				<td>
						<p>	
							<hr>	
							{{ coordenador }}<br>
							Coordenador do Projeto
						</p>
					
				</td>	
			</tr>	
		</table>


	</div> <!--memorando Retificacao -->
	
</div> <!--corpo-->
