<div id="corpo">
	<div id="dispendio">
	
		<h1 class ="head" > REGISTRO DE DISPÊNDIOS (COMPROVANTE DE PAGAMENTO) </h1>
		<div id="fornecedor" class="linha2">
				<div class="espacamentoEsq menor">
					Fornecedor:
				</div>	
				<div class="maior">
					{{ fornecedor }}
				</div>
			</div>
		
		<div id="cnpj" class="linha2">
				<div class="espacamentoEsq menor">
					CNPJ:
				</div>	
				<div class="maior">
					{{ cnpj }}
				</div>
			</div>

		<div id="distribuicao" class="linha3">
				<div class="espacamentoEsq menor">
					Distribuição do Dispêndio:
				</div>	
				<div class="maior">
					{{ distribuicao }}
				</div>
		</div>

		<div id="documentoFiscal" class="linha4">
				<div class="espacamentoEsq menor">
					Documento Fiscal:
				</div>	
				<div class="maior">
					{{ documentoFiscal }}
				</div>
		</div>
		<div id="serie" class="linha4">
				<div class="espacamentoEsq menor">
					Série:
				</div>	
				<div class="maior">
					{{ serie }}
				</div>
		</div>
		<div id="dataEmissao" class="linha4">
				<div class="espacamentoEsq menor">
					Data da Emissão:
				</div>	
				<div class="maior">
					{{ dataEmissao }}
				</div>
		</div>
		<div id="valor" class="linha4">
				<div class="espacamentoEsq menor">
					Valor:
				</div>	
				<div class="maior">
					R$ {{ valor }}
				</div>
		</div>
		<div id="noChequeRecibo" class="linha4">
				<div class="espacamentoEsq menor">
					No Cheque/Recibo Eletrônico:
				</div>	
				<div class="maior">
					{{ noChequeRecibo }}
				</div>
		</div>
		<div id="dataPagamento" class="linha4">
				<div class="espacamentoEsq menor">
					Data do Pagamento:
				</div>	
				<div class="maior">
					{{ dataPagamento }}
				</div>
		</div>
		<!--"Cabeçalho" do corpo -->

		<!--texto central -->	
		<div id="textoCentral">
				<p>
					Caro Coordenador, <br> 
					cole aqui a cópia do cheque ou recibo de transação eletrônica<br> 
					No. {{ noChequeRecibo }} de {{ dataEmissao }} em favor de <br>
					{{ fornecedor }}, no valor de R$ {{ valor }}
				</p>
		
		</div>
		<!--texto central -->


	</div><!--dispendio-->			
</div> <!--corpo-->
