<div id = "corpo">
	<div id="relatorio2">
		<div id = "resultado" class = "espacamentoEsq menor"> Resultados alcançados </div>	
		<div id = "tabela" class = "margemLateral fontePadrao"> 
				{{ tabela }}
		</div>
		<div id='legenda' class="margemLateral legenda">
			<table>
			<tr>
				<td>LEGENDA:</td>
			</tr>
			<tr>
				<td>PA – Plenamente Alcançado;</td>
			</tr>
			<tr>
				<td>PR – Parcialmente Alcançado;</td>
			</tr>
			<tr>
				<td>NA – Não Alcançado;</td>
			</tr>
			</table>
		</div>
	</div>
</div>
