{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Contrapartidas - Serviço Pessoa Jurídica" %}

{% block content %}
<div id="content">
    <div id="sidebar">
        <a id="projects-button" href="{{ path('fornecedores') }}" title="Gerenciar fornecedores">& Gerenciar Fornecedores</a><br /><br />
        <p><b>Instruções:</b><br /><br />Os dados relativos ao dispêndio devem estar consonantes com as informações contidas no documento comprobatório de aplicação do recurso (ex: nota fiscal), bem como ter sua execução prevista no plano de trabalho aprovado pela FAPESC.<br /><br />Posicione o ponteiro do mouse por alguns instantes sobre cada campo para obter instruções complementares acerca de seu preenchimento.<br /><br />Para o caso do dispêndio ter sido pago em espécie, basta registrar a informação ("em espécie") no campo "Comprovante da transação".<br /><br />É obrigatório o preenchimento de todos os campos do formulário.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <h1>:: Contrapartidas - Serviço Pessoa Jurídica</h1>
        {% include "FapescTutorialBundle:Relatorio:formDispendio.html.twig" with { "action" : action } %}
    </div><!-- #main-content -->			
</div><!-- #content -->				
{% endblock %}