{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Plano de Aplicação" %}

{% block content %}
<div id="content">
				
	<div id="sidebar">
		<a id="projects-button" href="{{ path('relatorioDispendio', { 'idRelatorio': idProjeto, 'idDispendio': 0 }) }}" title="Adicionar novo dispêndio">+ Adicionar Dispêndio</a><br /><br />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna magna, porttitor a ornare quis, interdum quis massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br /><br />Integer in commodo tellus. Suspendisse lobortis lacinia felis, ut laoreet ipsum posuere sed. Ut placerat volutpat luctus. <br /><br />Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec velit diam, tincidunt sed ultricies vel, scelerisque et ligula.</p>
	</div><!-- #sidebar -->
			
	<div id="main-content">
		//@TODO Plano de Aplicação
	</div><!-- #main-content -->
	
</div><!-- #content -->
{% endblock %}