{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Relatório Técnico - Extrato Bancário" %}

{% block content %}
<script type="text/javascript">
    jQuery(function($){
        $(".data").mask("99/99/9999");
        $("#saldo").priceFormat({ prefix: '', centsSeparator: ',', thousandsSeparator: '.' });
    });
</script>
<div id="content">

    <div id="sidebar">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna magna, porttitor a ornare quis, interdum quis massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br /><br />Integer in commodo tellus. Suspendisse lobortis lacinia felis, ut laoreet ipsum posuere sed. Ut placerat volutpat luctus. <br /><br />Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec velit diam, tincidunt sed ultricies vel, scelerisque et ligula.</p>
    </div><!-- #sidebar -->

    <div id="main-content">
        <h1>:: Extrato Bancário</h1>
        <form class="form-container" action="{{ path('relatorioExtratoPost', { 'idRelatorio': idRelatorio }) }}" method="POST">
            <table class="form" width="90%">
                <tr>
                    <td>Data do extrato:<br /><input type="text" name="data" class="data" title="Informe a data do extrato." value="{{ data }}" /></td>
                </tr>
            </table>
            <table class="form" width="90%">
                <tr>
                    <td>Saldo (R$):<br /><input type="text" name="saldo" id="saldo" title="Informe o saldo." value="{{ saldo }}" /></td>
                </tr>
            </table>
            <table class="submit" width="90%">
                <tr>
                    <td><input type="submit" value="Salvar" /></td>
                </tr>
            </table>
        </form>
    </div><!-- #main-content -->

</div><!-- #content -->
{% endblock %}
