{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Relatório Técnico - Extrato Bancário" %}

{% block content %}
<script type="text/javascript">
    jQuery(function($){
        $(".data").mask("99/99/9999");
        $(".dinheiro").priceFormat({ prefix: '', centsSeparator: ',', thousandsSeparator: '.' });
    });
</script>
<div id="content">
    <div id="sidebar">
        <p><b>Instruções:</b><br /><br />Posicione o ponteiro do mouse sobre um campo em específico para receber ajuda em seu preenchimento.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <form class="" action="{{ path('relatorioExtratoPost', { 'idRelatorio': idRelatorio }) }}" method="POST">
            <fieldset class="">
                <legend>Extrato Bancário</legend>
                <div class="coluna2">
                    <label>Data do extrato:</label>
                    <input type="text" name="data" class="data" title="Informe a data do extrato." value="{{ data }}" />
                </div>
                <div class="coluna2">
                    <label>Saldo (R$):</label>
                    <input type="text" name="saldo" class="dinheiro" title="Informe o saldo." value="{{ saldo }}" />
                </div>
            </fieldset>
            <div>
                <input type="submit" value="Salvar" />
            </div>
        </form>
    </div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}
