{% extends "FapescTutorialBundle:Visitante:index.html.twig" %}

{% block title "Login" %}

{% block content %}
<script type="text/javascript">
	jQuery(function($){
	   $("#cpf").mask("999.999.999-99");
	});
	$().ready(function() {
		$("form").validate({
			rules: {
				cpf: "required",
				senha: {
					required: true,
					minlength: 4
				}
			},
			messages: {
				cpf: "Digite o CPF",
				senha: {
					required: "Digite a senha",
					minlength: "A senha deve ter no mínimo quatro caracteres"
				}
			}
		});
	});
</script>
<div id="login-content">
	<div id="sidebar" class="login-sidebar">
		<p id="login-title">Tutorial Eletrônico para prestação de contas de projetos apoiados pela FAPESC.</p>
		<ul>
			<li><a href="{{ path('cadastrar') }}">Novo usuário</a></li>
			<li><a href="{{ path('recuperar') }}">Recuperar senha</a></li>
		</ul>
	</div><!-- #sidebar -->
	<div id="main-content" class="login-main-content">
		<form class="form-container" action="{{ path('loginPost') }}" method="POST">
			<table cellpadding="5">
				<tr><td>CPF:<br /><input type="text" id="cpf" name="cpf" value="{{ cpf }}" /></td></tr>
				<tr><td>Senha:<br /><input type="password" name="senha" /></td></tr>
				<tr><td><input type="submit" value="Entrar" title="Entrar no sistema" /></td></tr>
			</table>
		</form>
	</div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}