{% extends "FapescTutorialBundle:Visitante:index.html.twig" %}

{% block title "Login" %}

{% block content %}
<script type="text/javascript">
    jQuery(function($){
            $(".cpf").mask("999.999.999-99");
        });
        $().ready(function() {
            $("form").validate({
            rules: {
                cpf: "required",
                senha: {
                    required: true,
                    minlength: 4
                }
            },
            messages: {
                cpf: "Digite o CPF",
                senha: {
                    required: "Digite a senha",
                    minlength: "A senha deve ter no mínimo quatro caracteres"
                }
            }
        });
    });
</script>
<div id="login-content">
    <div id="sidebar" class="login-sidebar">
        <p id="login-title"><small>Tutorial Eletrônico para prestação de contas de projetos apoiados pela FAPESC.</small></p>
        <ul>
            <li><a href="{{ path('cadastrar') }}">Novo usuário</a></li>
            <li><a href="{{ path('recuperar') }}">Recuperar senha</a></li>
        </ul>
    </div><!-- #sidebar -->
    <div id="main-content" class="login-main-content">
        <form class="" action="{{ path('loginPost') }}" method="POST">
            <div>
                <label>CPF:</label>
                <input type="text" class="cpf" name="cpf" value="{{ cpf }}" />
            </div>
            <div>
                <label>Senha:</label>
                <input type="password" name="senha" />
            </div>
            <div>
                <input type="submit" value="Entrar" title="Entrar no sistema" />
            </div>
        </form>
    </div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}