{% extends "FapescTutorialBundle:Visitante:index.html.twig" %}

{% block title "Recuperar Senha" %}

{% block content %}
<script type="text/javascript">
    jQuery(function($){
        $(".cpf").mask("999.999.999-99");
    });
    $().ready(function() {
        $("form").validate({
            rules: {
                cpf: "required",
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                cpf: "Digite o CPF",
                senha: {
                    required: "Digite o email",
                    email: "Digite um email válido"
                }
            }
        });
    });
</script>
<div id="login-content">
    <div id="sidebar" class="login-sidebar">
        <p id="login-title"><small>Para recuperar sua senha, informe seu CPF<br /> e e-mail de cadastro.<br /><br />Você receberá informações para recuperação<br />do acesso ao sistema via correio eletrônico.</small></p>
    </div><!-- #sidebar -->
    <div id="main-content" class="login-main-content">
        <form class="" action="{{ path('recuperarPost') }}" method="POST">
            <div>
                <label>CPF:</label>
                <input type="text" class="cpf" name="cpf" value="{{ cpf }}" />
            </div>
            <div>
                <label>E-mail:</label>
                <input type="text" id="email" name="email" value="{{ email }}" />
            </div>
            <div>
                <input type="submit" value="Enviar" />
            </div>
        </form>
    </div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}