{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Resumo" %}

{% block content %}
<div id="content">
    <div id="sidebar">
        <p><b>Instruções:</b> No campo de texto ao lado, informe sucintamente (2000 caracteres) acerca dos objetivos gerais e específicos do projeto, sua motivação, a metodologia de trabalho, bem como os resultados esperados de sua conclusão.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <form class="" action="{{ path('projetoResumoPost', { 'idProjeto': idProjeto }) }}" method="POST">
            <fieldset>
                <legend>Relatório Técnico</legend>
                <div>
                    <label>Resumo da pesquisa:</label>
                    <textarea name="resumo">{{ resumo }}</textarea>
                </div>
            </fieldset>
            <div>
                <input type="submit" value="Salvar" />
            </div>
        </form>
    </div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}