<html>
	<body>
		<p>Olá,</p>
		<p>Seu cadastro no sistema foi concluído com sucesso.</p>
		<p>Sua senha temporária é: <b>{{ senha }}</b></p>
		<p>Atenciosamente,</p>
		<p><a href="{{ link }}">FAPESC | Tutorial - Prestação de Contas</a></p>
	</body>
</html>