<html>
	<body>
		<p>Olá,</p>
		<p>Houve recentemente um pedido para alterar a senha de sua conta.</p>
		<p>Se você solicitou esta alteração de senha, por favor, defina uma nova senha através do link abaixo:</p>
		<p><a href="{{ link }}">{{ link }}</a></p>
		<p>Se você não deseja alterar a sua senha, basta ignorar esta mensagem.</p>
		<p>Atenciosamente,</p>
		<p>FAPESC | Tutorial - Prestação de Contas</p>
	</body>
</html>